# dependencies
/node_modules

# testing
/coverage

# production
/build

*~
*.pyc
static
.grunt
_SpecRunner.html
__benchmarks__
.module-cache
*.gem
docs/.bundle
docs/code
docs/_site
docs/.sass-cache
docs/js/*
docs/downloads
docs/vendor/bundle
examples/shared/*.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
.DS_STORE

npm-debug.log*
yarn-debug.log*
yarn-error.log*
ncp-debug.log
npm-debug.log
bower_component
src/config/configSec.js